{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <h2 class="ml-10 font-semibold">For a more accurate search</h2>

    <form class="w-3/4 flex flex-col ml-10" method="get" action="{% url "rooms:search" %}">
        {{form.as_p}}
        <button class="btn-link mt-5">Search</button>
    </form>

    <h3 class="ml-10 mt-5 font-semibold">Results</h3>

    {% for room in rooms %}
        <a href="{% url 'rooms:detail' room.pk %}"><h3 class="ml-10 mt-2 bg-green-400 text-white font-semibold rounded-lg w-3/4 text-center py-1">{{room.name}}</h3></a>
    {% endfor %}


{% endblock content %}